<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar contraseña</title>
</head>
<body style="font-family: sans-serif; background-color: #f4f4f4; padding: 20px;">
    <table width="600" border="0" cellspacing="0" cellpadding="0" style="background-color: #ffffff; border-radius: 8px; box-shadow: 0 4px 6px rgba(0,0,0,0.1);">
        <tr>
            <td style="padding: 30px;">
                <h1 style="color: #9966cc; margin: 0; font-size: 24px;">
                    Recuperar Contraseña
                </h1>
                
                <p>
                    ¡Hola! Recibimos un email para recuperar tu clave para ingresar como administrador/@, para eso debés hacer click en <a href="{{LINK_RECUPERACION}}" target="_blank" style="color: #9966cc">este link</a>.
                </p>
                <p>
                    Te recordamos que el link estará habilitado por una hora desde que solicitaste recuperar tu clave. 
                </p>
                <p>
                    En caso que no hayas solicitado recuperar tu contraseña, desestimá el email.
                </p>
                <p>
                    ¡Saludos!
                </p>
            </td>
            </tr>
    </table>
</body>
</html>